body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

input, button{
    font-family: 'Roboto', sans-serif;
}

.currentuser { 
    font-weight: bold;
}

/*GENERAL BUTTON STYLING*/
/************************/
#btnback {
    width: 60px;
    height: 35px;
    margin-bottom: 10px;
    background: #ccc;   
    color: #fff;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.4s;
    text-align: center;
    margin-top: -50%;
    margin-left: -80%;
}

#btnback:hover{
    transform: scale(1.35);
    background: #fc625d;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.loggedin_logout_div button{
    width: 70px;
    height: 42px;
    margin-top: 10px;
    background: #ccc;   
    color: #fff;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.4s;
    text-align: right;
    margin-right: 0%;
    margin-left: 80%;   
}

.loggedin_logout_div button:hover{
    margin-right: 0%;
    margin-left: 60%;
    width: 40%;
    background: #fc625d;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}

/*GENERAL BUTTON STYLING END*/
/****************************/


/* INDEX.HTML */
/**************/
.title_div{
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.main-div{
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.main-div input{
    /*DISPLAY COMPONENTS*/
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*SIZE & PLACEMENT COMPONENTS*/
    width: 250px;
    height: 42px;
    padding: 20px 20px;
    margin-bottom: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    margin-left: -15%;
    /*MISC*/
    overflow: hidden;
    cursor: pointer;
    /*BORDER COMPONENTS*/
    border: none;
    outline: none;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    /*COLOR & FONT COMPONENTS*/
    text-align: left;
    font: normal 13px/normal "Antic", Helvetica, sans-serif;
    color: black;
    text-decoration: normal;
    background: #fff;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    /*ANIMATION COMPONENTS*/
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  }

.main-div input:focus{
  width: 300px;
  cursor: default;
  margin-left: -30%;
  padding: -13px 20px 0;
  color: black;
  background:  rgb(245, 241, 241);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -webkit-border-radius: 21px;
  border-radius: 21px;
}

.main-div input:hover{
    color: black;
    background:  rgb(245, 241, 241);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    cursor: pointer;
  }

.main-div button {
    height: 42px;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    background: #fff;   
    color: #5d8ffc;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    margin-left: 0;
    outline: none;
    font-weight: 700;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.main-div button:hover{
    width: 250px;
    margin-left: -15%;
    margin-right: 15%;
    background: #5d8ffc;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}

/* HOME.HTML */
/*************/
.loggedin_title_div{
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.loggedin-div{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: -7%;
}

.loggedin_btns_div button{ 
    background: #fff;   
    color: black;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: inline;
    font-size: 25px;
    outline: none;
    font-weight: 700;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.loggedin_btns_div button:hover{
    background: #fff;
    color: #5d8ffc;
    text-decoration: underline;
    cursor: pointer;
}

/* CREATE TEAM */
/*********************/

html{
    margin: 0px;  /*No margins */
    font-family: sans-serif;
    overflow-x: hidden;  /* Does so the website can't make a slide i x-direction */
    background-color: #fff;
  }
  
  :root {
    --main-bg-color: #edfeff;
    --main-content-margins: 100px;
  }
  
  div {
    background-color: white;
    margin: 0;
    border-width: 1px;
  }
  /* General styling end*/
   
  /* CREATE TEAM STYLING START-----*/
  /*********************************/
  .createteam_title_div{
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.createteam_expla_div{
    margin-top: -10%;
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    margin-left: 4%;
    margin-bottom: 10px;
}

#name{
    padding-left: 10px;
    float: left;
    height: 40px;
    width: 30%;
    background: #ccc;   
    color: #fff;
    border: none;
    transition: 0.4s;
    margin-left: 5%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font: normal 13px/normal "Antic", Helvetica, sans-serif;
    color: black;
    text-decoration: normal;
    background: #fff;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    /*ANIMATION COMPONENTS*/
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
     /*BORDER COMPONENTS*/
     border: none;
     outline: none;
     -webkit-border-radius: 10px;
     border-radius: 10px;
}
#name:hover{
    background: rgb(245, 241, 241);

}
#name:focus{
    transform: scale(1.1);
    background: rgb(245, 241, 241);
}

.add_member_edittext{
    display: block;
}

  .add_member_edittext input[type="text"] {
    padding-left: 10px;
    height: 40px;
    width: 25%;
    background: #ccc;   
    color: #fff;
    border: none;
    margin-left: -1%;
    font-weight: 700;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font: normal 13px/normal "Antic", Helvetica, sans-serif;
    color: black;
    text-decoration: normal;
    background: #fff;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    /*ANIMATION COMPONENTS*/
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
     /*BORDER COMPONENTS*/
     border: none;
     outline: none;
     -webkit-border-radius: 10px;
     border-radius: 10px;
  }

.add_member_edittext input:hover{
    background: rgb(245, 241, 241);
}

  .add_member_edittext input:focus {
      transform: scale(1.1);
      background: rgb(245, 241, 241);
  }

  /* button add selected member to team*/
  #add_member_button {
    height: 40px;
    width: 15%;
    background: #ccc;   
    color: #fff;
    border: none;
    outline: none;
    font-weight: 700;
    transition: 0.4s;
    margin-right: 5%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  #delete{
    display: none;
    height: 40px;
    width: 10%;
    background: #ccc;   
    color: #fff;
    border: none;
    float: right;
    outline: none;
    font-weight: 700;
    transition: 0.4s;
    margin-right: 5%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  #add_member_button:hover {
    background: #5d8ffc;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* members invited container*/
  .member_section {
    text-align: center;
    display: inline-block;
    width: 88%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* title to member list*/
  #members_invited_title {
    margin-top: 150px;
    font-size: 30px;
    margin-bottom: 0px;
  }
  
  /* container for invited members list*/
  #member_content {
    min-height: 400px;
    margin-bottom: 5px;
    border-radius: 4px;
  }


  /* List styling*/
  ul {
    display: inline-block;
    vertical-align: auto;
    margin-top: 0%;
    overflow: hidden;
    list-style-type: none;
    width: 90vh;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    min-height: 300px;
    
  }
  
  /* item of list styling*/
  ul li {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    font-size: 15px;
    text-align: left;
  }

  ul li:hover {
   transform: scale(1.06);
   transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
  }
  
  /* create team button styling*/
  #create_team_button {
    height: 40px;
    width: 25%;
    background: #ccc;   
    color: #fff;
    border: none;
    font-weight: 700;
    transition: 0.4s;
    margin-left: 65%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: none;
  }
  
  #create_team_button:hover {
    background: #5d8ffc;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
  }




/* error and success messages */ 
.isa_success, .isa_error {
    margin: 10px 0px;
    padding:12px;
    font-size: 17px;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    display: none;
    text-align: center;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    display: none;
    text-align: center;
}

.isa_success i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}
